<div ng-repeat="sweep in harrySweeper">
                <h1>{{ harrySweep.name }}</h1>
                <p>Water Level: <progress max="100" value="{{ sweep.waterLevel }}"></progress> {{sweep.waterLevel}}%</p>
                <p>Battery Level: <progress max="100" value="{{ sweep.batteryLevel }}"></progress> {{sweep.batteryLevel}}%</p>
                <p>Brushes: <img src="{{brushesImage}}" /></p>
                <p>System Check: <img src="{{systemCheckImage}}" /></p>
                <button ng-click="systemCheck()" type="button">System Check</button>
                <p>{{check}}</p>

            </div>
