<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="maps.css">
<script
  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.js"></script>
<script
  src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type="text/javascript" src="maps.js"></script>
</head>
<body>
  <header>
     <h1>Tracker Dashboard</h1>
  </header>
<div class="container">
<article>
    <div ng-controller="MapCtrl">
        <div id="map"></div>
          <nav>
        <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
             <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
             <label id="names" >{{marker.title}}</label></a></br>

        </div></br>
        <div ng-repeat="sweep in harrySweeper">
                        <h4>{{ sweep.name }} Stats</h4>
                        <p>Water Level: <progress max="100" value="{{ sweep.waterLevel }}"></progress> {{sweep.waterLevel}}%</p>
                        <p>Battery Level: <progress max="100" value="{{ sweep.batteryLevel }}"></progress> {{sweep.batteryLevel}}%</p>

                    </div></nav>
    </div>
</article>
  </div>
    <footer>Information</footer>
</body>
</html>
